<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <a href="/">
            <img src="../static/sherlock-icon-13.jpg" alt="sherlock icon" class="ui small centered image">
        </a>
        <h1 class="ui center aligned header">Sherlock</h1>
        <p align="center">
            Sanitize and filter ids available from customers in CSV files.
        </p>
        <hr>
        <div class="ui centered inline loader" id="loading"></div>
        <form
            class="ui form"
            action="."
            method="POST"
            enctype="multipart/form-data"
            id="form"
        >
            <div class="field">
                <label>Enter Apikey:</label>
                <input
                    type="text"
                    name="apikey"
                    id="apikey"
                    placeholder="Enter apikey..."
                    required
                ><br>
            </div>
            <div class="field">
                <label>Enter CSV file:</label>
                <input
                    type="file"
                    name="file"
                    id="file"
                    required
                ><br>
            </div>
            <button class="ui primary button" type="submit">Submit</button>
        </form>
    </div>

    <script>
        window.addEventListener('submit', () => {
            document.getElementById("form").style.display = 'none';
            document.getElementById("loading").classList.add('active');
        });
    </script>
</body>

</html>